---
import AdminRoomEditPage from "../../components/AdminRoomEditPage";
import AdminRoomlist from "../../components/AdminRoomlist";
import MiniRouter from "../../components/MiniRouter";
import ThemedPage from "../../layouts/ThemedPage.astro";
---

<ThemedPage>
    <MiniRouter path="/admin" strict={true} client:only="react">
        <h2>
            Server Rooms List
        </h2>
        <AdminRoomlist client:only="react" />
        <h2>
            Create Room
        </h2>
        <form action="/admin/api/room" method="post">
            <input type="text" name="roomId" placeholder="Room ID" />
            <textarea name="desc" placeholder="Description" placeholder = "Describe the room"></textarea>
            <input type="hidden" name="frontend" value="true" />
            <button type="submit">Create Room</button>
        </form>
    </MiniRouter>
    <MiniRouter path="/admin/room/" strict={false} client:only="react">
        <AdminRoomEditPage client:only="react" />
    </MiniRouter>
</ThemedPage>