---
import MiniRouter from "../../components/MiniRouter";
import RoomLoaderAutomatic from "../../components/RoomLoaderAutomatic";
import ThemedPage from "../../layouts/ThemedPage.astro";
---

<ThemedPage title = "Room" fluid={true}>
    <MiniRouter path="/room" strict={true} client:only="react">
        <h1>Ruh roh</h1>
        <p>
            Well I have no idea how you reached this but typically you want to go to a room by it's id with "/room/roomIdHere". Perhaps you want to <a href="/">go back to the home page</a>?
        </p>
    </MiniRouter>
    <MiniRouter path="/room/" strict={false} client:only="react">
        <RoomLoaderAutomatic client:only="react" />
    </MiniRouter>
</ThemedPage>